.App {
  text-align: center;
}
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh; /* Minimalna wysokość na całą wysokość widoku */
  position: static;
}
.long-form {
  width: 10rem;
}
.square {
  width: 20px;
  height: 20px;
  background-color: black;
  border: 1px solid #000;
  
}
.snake {
  width: 20px;
  height: 20px;
  background-color: red;
  border: 1px solid #000;
  
}
.food {
  width: 20px;
  height: 20px;
  background-color: green;
  border: 1px solid #000;
  
}
.empty-array {
  display: flex;
  flex-wrap: wrap;
}